.wrapper {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  align-items: center;
  justify-content: center;
  &.active {
    display: flex;
    opacity: 1;
    transition: all 2s linear;
    transform: translateY(0);
  }
}
.inner {
  width: 100%;
  max-width: 1000px;
  height: 550px;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 235px;
    height: 50px;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    background-color: white;
    outline: 0;
  }
}
.topMob {
  display: none;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block {
  flex: 0 1 48%;
  margin-bottom: 40px;
}
.head {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #3d3737;
  span {
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #3d3737;
  }
}
.body {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #e5e5e5;
}
.img {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainTable {
  display: flex;
}
.table {
  width: 120px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 12px;
    line-height: 13px;
    color: #3d3737;
    border: 1px solid #e5e5e5;
    &:first-of-type {
      font-weight: 500;
      background: #f0f0f0;
    }
  }
}

@media screen and (max-width: 1023px) {
  .inner {
    height: 100%;
  }
  .top {
    display: none;
  }
  .topMob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 25px;
    border-bottom: 1px solid #e5e5e5;
    background: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #3d3737;
    img {
      width: 35px;
      height: 35px;
    }
  }
  .burger {
    display: block;
    position: relative;
    width: 32px;
    height: 20px;
    &::before,
    &::after {
      content: '';
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }
  .grid {
    margin: 0 0 25px 0;
  }
  .block {
    flex: 0 1 100%;
    padding: 0 10px;
    margin: 0;
  }
  .body {
    display: block;
    margin-bottom: 0;
  }
  .img {
    width: 100%;
    height: 100%;
    padding: 25px 0;
  }
  .table {
    width: 100%;
  }
}
