.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    text-align: justify;
}
.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
    .wrapper {
        padding: 0 10px;
    }
}
