.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.women,
.men,
.zoodpay, .autumn, .hudi {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  img {
    width: 600px;
    height: auto;
  }
}

.women {
  background-image: url('/home/newBanner.jpg');
}

.zoodpay {
  background-image: url('/home/z4.png');
}

.autumn {
  background-image: url('/home/autumn.jpg');

  .inner {
    .buttons {
      width: 100%;
      justify-content: center;

      a {
        text-transform: uppercase;
        margin: 0 0 0 3px;
      }
    }
  }
}

.men {
  background-image: url('/home/men.jpg');
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  //text-align: center;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);

  align-items: center;

  .title {
    //font-weight: bold;
    font-size: 50px;
    font-weight: 500;

    line-height: 76px;
    color: #fff;
    margin-bottom: 30px;
  }

  .buttons {
    display: flex;
    color: #fff;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      //padding: 0 15px;
      margin: 0 25px;
    }
  }

  .extraTitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    //width: 230px;
    padding: 7px 20px;
    //height: 50px;
    color: black;
    background: #ffffff;
    font-weight: bold;
    font-size: 18px;
  }
}

.hudi {
  background-image: url('/home/home-one-3.jpg');

  .inner {
    top: 73%;
  }
}

@media screen and (max-width: 1200px) {
  .women,
  .men,
  .zoodpay,
  .autumn,
  .hudi {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

    img {
      width: 300px;
    }
  }
  .women {
    background-image: url('/home/newBannerMob.jpg');

    .inner {
      order: 2;
    }

    img {
      order: 1;
    }
  }

  .autumn {
    .inner {
      .buttons {
        width: unset;
        justify-content: flex-start;

        a {
          margin: 0 0 0 3px;
        }
      }
    }
  }
  .men {
    background-image: url('/home/menMob.jpg');
  }
  .inner {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);

    .title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    a {
      //width: 300px;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .zoodpay {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .zoodpay {
    background-image: url('/home/z3-mob.jpg');
  }
}

@media screen and (max-width: 600px) {
  .hudi {
    height: 400px;
  }
  .inner {
    .buttons {
      a {
        font-size: 15px;
        padding: 7px 15px;
      }
    }
  }
}