.wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  color: #3d3737;
}

.title {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  span {
    color: red;
    font-weight: bold;
    margin: 0 5px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline !important;
    margin-left: 20px;
  }
}

.text {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  margin: 0 auto;
  display: flex;
  //text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  //text-transform: uppercase;
  background-color: #000000;
  color: #fff;
}

.row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
}

.left1 {
  width: 700px;
  height: 700px;
  background-image: url('/home/home-two-2.jpg');
  background-size: cover;
  position: relative;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90px;
    //width: 200px;
    //background-color: #f6f6f6;
    text-decoration: none;
    //text-transform: uppercase;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10px;

    div {
      &:first-child {
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        color: #fff;
      }

      &:last-child {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
      }
    }
  }
}

.right1 {
  width: 700px;
  height: 700px;
  background-image: url('/home/home-two-1.jpg');
  background-size: cover;
  position: relative;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    //text-transform: uppercase;
    height: 90px;
    //width: 200px;
    text-align: center;
    //background-color: #f6f6f6;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;

    div {
      &:first-child {
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        color: #fff;
      }

      &:last-child {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
      }
    }
  }
}

.row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left2 {
  width: 700px;
  height: 700px;
  background-image: url('/home/home-two-3.webp');
  background-size: cover;
  position: relative;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.right2 {
  width: 700px;
  height: 700px;
  background-image: url('/home/home-two-4.jpg');
  background-size: cover;
  position: relative;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.row3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.left3 {
  img {
    object-fit: cover;

    &:nth-child(1) {
      width: 485px;
      height: 306px;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-top: 20px;
  }
}

.right3 {
  .img3 {
    width: 485px;
    height: 306px;
    background: linear-gradient(90deg, #e10051 0%, #d31d54 100%);
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 999px) {
  .text {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  .link {
    display: flex;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  .row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left1 {
    width: 100%;
    max-width: 375px;
    height: 387px;
    margin-bottom: 10px;

    a {
      align-items: center;
      height: 78px;
      width: 188px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        &:first-child {
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
        }

        &:last-child {
          font-weight: 300;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
  .right1 {
    width: 100%;
    max-width: 375px;
    height: 387px;
    margin-bottom: 10px;

    a {
      align-items: center;
      height: 78px;
      width: 188px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        &:first-child {
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
        }

        &:last-child {
          font-weight: 300;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }

  .row2 {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .left2 {
    margin-right: 5px;
    width: 100%;
    display: flex;
    max-width: 375px;
    height: 387px;
    flex-direction: column;
    align-items: center;

    img {
      order: 1;
      width: 100%;
      // max-width: 172px;
      height: 248px;
    }

    a {
      order: 2;
      display: flex;
      //text-align: center;
      flex-direction: column;
      //justify-content: space-evenly;
      height: 76px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 17px 0;
    }
  }
  .right2 {
    margin-right: 5px;
    width: 100%;
    display: flex;
    max-width: 375px;
    height: 387px;
    flex-direction: column;
    align-items: center;

    img {
      order: 1;
      width: 100%;
      // max-width: 172px;
      height: 248px;
    }

    a {
      order: 2;
      display: flex;
      flex-direction: column;
      //justify-content: space-evenly;
      height: 76px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 17px 0;
    }
  }

  .row3 {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    margin-bottom: 0;
  }
  .left3 {
    order: 2;
    margin-left: 5px;
    margin-top: -54px;
    width: 100%;

    img {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
        width: 100%;
        max-width: 172px;
        height: 302px;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 76px;
      margin: 17px 0;
    }
  }

  .right3 {
    order: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 100%;

    .img3 {
      order: 1;
      width: 100%;
      max-width: 172px;
      height: 248px;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
    }

    a {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 76px;
      margin: 17px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 30px 0;

    span {
      margin: 0 2.5px;
    }

    a {
      font-weight: 700;
    }
  }
}
