.wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 50px auto 0;
  color: #3d3737;
}

.innerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0;
}

.block {
  position: relative;
  width: 50%;
  height: 700px;
  background-size: cover;
}

.desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-decoration: none;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
}

.link {
  text-transform: uppercase;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.title {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  span {
    color: red;
    font-weight: bold;
    margin: 0 5px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline !important;
    margin-left: 20px;
  }
}

.row3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.left3 {
  img {
    object-fit: cover;

    &:nth-child(1) {
      width: 485px;
      height: 306px;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-top: 20px;
  }
}

.right3 {
  .img3 {
    width: 485px;
    height: 306px;
    background: linear-gradient(90deg, #e10051 0%, #d31d54 100%);
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 999px) {
  .innerWrapper {
    flex-direction: column;
    margin: 0 auto;
    gap: 10px 0;
  }

  .block {
    width: 100%;
    max-width: 375px;
    height: 387px;
    margin: 0 auto;
  }

  .text {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  .link {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
  }

  .row3 {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
  }
  .left3 {
    order: 2;
    margin-left: 5px;
    margin-top: -54px;
    width: 100%;

    img {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
        width: 100%;
        max-width: 172px;
        height: 302px;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 76px;
      margin: 17px 0;
    }
  }

  .right3 {
    order: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    width: 100%;

    .img3 {
      order: 1;
      width: 100%;
      max-width: 172px;
      height: 248px;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
    }

    a {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 76px;
      margin: 17px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 30px 0;

    span {
      margin: 0 2.5px;
    }

    a {
      font-weight: 700;
    }
  }
}
